<table>
    <tr>
        <th>Tail Number</th>
        <th>ICAO Hex</th>
        <th>Alt Name</th>
        <th>ADSBX</th>
        <th>Twitter</th>
        <th>ads-b nl</th>
        <th>Airport-data</th>
        <th>JetPhotos</th>
    </tr>
{{ range $.Site.Data.aircraft.recon.cobraball }}
<tr>
    <td>{{ .reg }}</td>
    <td>{{ .icao }}</td>
    <td>{{ .altName }}</td>
    <td><a href="https://globe.adsbexchange.com/?icao={{ .icao }}">Link</a></td>
    <td><a href="https://twitter.com/search?q=%22{{ .icao }}%22&src=typed_query&f=live">Link</a></td>
    <td><a href="http://ads-b.nl/aircraft.php?id_aircraft={{ printf "0x%s" .icao | int }}">Link</a></td>
    <td><a href="https://www.airport-data.com/aircraft/{{ .reg }}.html">Link</a></td>
    <td><a href="https://www.jetphotos.com/photo/keyword/{{ .reg }}">Link</a></td>
</tr>
{{ end }}
</table>